@import url(../../styles/global.css);


.atracoes-section {
  width: 100vw;
  height: 50vh;
  display: flex;
  padding-bottom: 5vh;
}

.container-atracoes {
  color: var(--texto-dark-mode);
  background-color: var(--verde-secundaria);
  margin-left: 5%;
  margin-top: 5vh;
  width: 100%;
  height: 100%;
  background-color: var(--verde-secundario);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  direction: row;
}

.attraction-type {
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
}

.images {
  margin-top: 10%;
  margin-left: 5vw;
  display: flex;
  height: 100%;
}

img {
  display: block;
  width: 30%;
}

.img-name {
  position: absolute;
}

